generated/schema/RegTAP.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2025-06-11T16:57:10.167011095Z-->
<xsd:schema xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:regtap="http://www.ivoa.net/xml/RegTAP/v1.0"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            vc:minVersion="1.1"
            targetNamespace="http://www.ivoa.net/xml/RegTAP/v1.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:element name="RegTAPModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence/>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
               <xsd:element name="resource" type="regtap:Resource"/>
            </xsd:choice>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="Resource">
      <xsd:annotation>
         <xsd:documentation>The resources (like services, data collections, organizations) present in this registry.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Resource</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ivoid" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Unambiguous reference to the resource conforming to the IVOA standard for identifiers.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.ivoid</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="res_type" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Resource type (something like vg:authority, vs:catalogservice, etc).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.res_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="created" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The UTC date and time this resource metadata description was created.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.created</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="short_name" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A short name or abbreviation given to something, for presentation in space-constrained fields (up to 16 characters).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.short_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="res_title" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The full name given to the resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.res_title</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="updated" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The UTC date this resource metadata description was last updated.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.updated</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="content_level"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A hash-separated list of content levels specifying the intended audience.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.content_level</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="res_description"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An account of the nature of the resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.res_description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="reference_url"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>URL pointing to a human-readable document describing this resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.reference_url</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="creator_seq"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The creator(s) of the resource in the order given by the resource record author, separated by semicolons.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.creator_seq</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="content_type"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A hash-separated list of natures or genres of the content of the resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.content_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="source_format"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The format of source_value. This, in particular, can be ``bibcode''.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.source_format</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="source_value"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A bibliographic reference from which the present resource is derived or extracted.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.source_value</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="res_version"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Label associated with creation or availability of a version of a resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.res_version</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="region_of_regard"
                      type="xsd:float"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A single numeric value representing the angle, given in decimal degrees, by which a positional query against this resource should be ``blurred'' in order to get an appropriate match.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.region_of_regard</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="waveband" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A hash-separated list of regions of the electro-magnetic spectrum that the resource's spectral coverage overlaps with.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.waveband</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="rights" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A statement of usage conditions (license, attribution, embargo, etc).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.rights</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="rights_uri" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A URI identifying a license the data is made available under.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Resource.rights_uri</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="validation"
                      type="regtap:Validation"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="altId"
                      type="regtap:AltIdentifier"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="role"
                      type="regtap:Role"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="subject"
                      type="regtap:Subject"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="date"
                      type="regtap:ResDate"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="relationship"
                      type="regtap:Relationship"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="spatialCoverage"
                      type="regtap:STCSpatial"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="temporalCoverage"
                      type="regtap:STCTemporal"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="spectralCoverage"
                      type="regtap:STCSpectral"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="capability"
                      type="regtap:Capability"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="interface"
                      type="regtap:Interface"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="param"
                      type="regtap:InterfaceParam"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="schema"
                      type="regtap:Schema"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="table"
                      type="regtap:Table"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="column"
                      type="regtap:Column"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="tapTables"
                      type="regtap:TAPTable"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="detail"
                      type="regtap:Detail"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Role">
      <xsd:annotation>
         <xsd:documentation>Entities (persons or organizations) operating on re-
               sources: creators, contacts, publishers, contributors.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Role</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="role_name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The ivoa:real-world name or title of a person or organization.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Role.role_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="street_address"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A mailing address for a person or organization.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Role.street_address</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An email address the entity can be reached at.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Role.email</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="telephone" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A telephone number the entity can be reached at.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Role.telephone</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="logo" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>URL pointing to a graphical logo, which may be used to help identify the entity.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Role.logo</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="role_ivoid" type="xsd:string" use="required">
         <xsd:annotation>
            <xsd:documentation>An IVOA identifier of a person or organization.</xsd:documentation>
            <xsd:appinfo>
               <vodml-ref>RegTAP:Role.role_ivoid</vodml-ref>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="base_role" type="xsd:string" use="required">
         <xsd:annotation>
            <xsd:documentation>The role played by this entity; this is one of contact, publisher, contributor, or creator.</xsd:documentation>
            <xsd:appinfo>
               <vodml-ref>RegTAP:Role.base_role</vodml-ref>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:complexType>
   <xsd:complexType name="Subject">
      <xsd:annotation>
         <xsd:documentation>Topics, object types, or other descriptive keywords about the resource.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Subject</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="res_subject"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Topics, object types, or other descriptive keywords about the resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Subject.res_subject</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Capability">
      <xsd:annotation>
         <xsd:documentation>Pieces of behaviour of a resource</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Capability</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="cap_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An arbitrary identifier of this capability within the resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Capability.cap_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="cap_type" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The type of capability covered here. If looking for endpoints implementing a certain standard, you should not use this column but rather match against standard_id.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Capability.cap_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="cap_description"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A human-readable description of what this capability provides as part of the over-all service.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Capability.cap_description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="standard_id"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A URI for a standard this capability conforms to.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Capability.standard_id</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Schema">
      <xsd:annotation>
         <xsd:documentation>Sets of tables related to resources</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Schema</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="schema_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An arbitrary identifier for the res_schema rows belonging to a resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Schema.schema_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="schema_description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A free text description of the tableset explaining in general how all of the tables are related.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Schema.schema_description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="schema_name"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A name for the set of tables.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Schema.schema_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="schema_title"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A descriptive, human-interpretable name for the table set.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Schema.schema_title</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="schema_utype"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for a concept in a data model that the data in this schema as a whole represent.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Schema.schema_utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Table">
      <xsd:annotation>
         <xsd:documentation>(Relational) tables that are part of schemata or resources.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Table</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="schema_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Index of the schema this table belongs to, if it belongs to a schema (otherwise NULL).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Table.schema_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A free-text description of the table's contents.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Table.table_description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The fully qualified name of the table. As per VODataService, this includes all catalog or schema prefixes needed to distinguish it in a query, and it comes with SQL delimiters where necessary.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Table.table_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An arbitrary identifier for the tables belonging to a resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Table.table_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_title"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A descriptive, human-interpretable name for the table.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Table.table_title</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_type" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A name for the role this table plays. Recognized values include 'output', indicating this table is output from a query; 'base_table', indicating a table whose records represent the main subjects of its schema; and 'view', indicating that the table represents a useful combination or subset of other tables. Other values are allowed.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Table.table_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_utype"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for a concept in a data model that the data in this table as a whole represent.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Table.table_utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="nrows"
                      type="xsd:nonNegativeInteger"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An estimate for the number of rows in the table.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Table.nrows</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Column">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Column</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="table_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Index of the table this column belongs to.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.table_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The name of the column.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ucd" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A unified content descriptor that describes the scientific content of the column.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.ucd</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="unit" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The unit associated with all values in the column.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.unit</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="utype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for a role in a data model that the data in this column represents.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="std" type="xsd:int" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>If 1, the meaning and use of this column is reserved and defined by a standard model. If 0, it represents a database-specific column that effectively extends beyond the standard.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.std</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="datatype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The type of the data contained in the column.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.datatype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extended_schema"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for the schema that the value given by the extended attribute is drawn from.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.extended_schema</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extended_type"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A custom type for the values this column contains.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.extended_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="arraysize" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The shape of the array that constitutes the value, e.g., 4, *, 4*, 5x4, or 5x*, as specified by VOTable.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.arraysize</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="delim" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The ivoa:string that is used to delimit elements of an array value when arraysize is not '1'.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.delim</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="type_system"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The type system used, as a QName with a canonical prefix; this will ususally be one of vs:simpledatatype, vs:votabletype, and vs:taptype.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.type_system</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="flag" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Hash-separated keywords representing traits of the column. Recognized values include 'indexed', 'primary', and 'nullable'.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.flag</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="column_description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A free-text description of the column's contents.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Column.column_description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Interface">
      <xsd:annotation>
         <xsd:documentation>Information on access modes of a capability</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Interface</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="cap_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The index of the parent capability.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.cap_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="intf_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An arbitrary identifier for the interfaces of a resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.intf_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="intf_type" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The type of the interface (vr:webbrowser, vs:paramhttp, etc).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.intf_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="intf_role" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for the role the interface plays in the particular capability. If the value is equal to 'std' or begins with 'std:', then the interface refers to a standard interface defined by the standard referred to by the capability's standardID attribute.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.intf_role</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="std_version"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The version of a standard interface specification that this interface complies with. When the interface is provided in the context of a Capability element, then the standard being refered to is the one identified by the Capability's standardID element.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.std_version</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="query_type" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Hash-joined list of expected HTTP method (get or post) supported by the service.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.query_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="result_type"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The MIME type of a document returned in the HTTP response.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.result_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="wsdl_url" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The location of the WSDL that describes this Web Service. If NULL, the location can be assumed to be the accessURL with '?wsdl' appended.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.wsdl_url</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="url_use" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A flag indicating whether this should be interpreted as a base URL ('base'), a full URL ('full'), or a URL to a directory that will produce a listing of files ('dir').</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.url_use</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="access_url" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The URL at which the interface is found.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.access_url</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="mirror_url" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Secondary access URLs of this interface, separated by hash characters.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.mirror_url</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="authenticated_only"
                      type="xsd:int"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A flag for whether an interface is available for anonymous use (=0) or only authenticated clients are served (=1).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Interface.authenticated_only</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InterfaceParam">
      <xsd:annotation>
         <xsd:documentation>Input parameters for services</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:InterfaceParam</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="intf_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The index of the interface this parameter belongs to.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.intf_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The name of the parameter.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="unit" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The unit associated with all values in the parameter.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.unit</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ucd" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A unified content descriptor that describes the scientific content of the parameter.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.ucd</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="utype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for a role in a data model that the data in this parameter represents.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="std" type="xsd:int" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>If 1, the meaning and use of this parameter is reserved and defined by a standard model. If 0, it represents a database-specific parameter that effectively extends beyond the standard.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.std</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="datatype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The type of the data contained in the parameter.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.datatype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extended_schema"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for the schema that the value given by the extended attribute is drawn from.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.extended_schema</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extended_type"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A custom type for the values this parameter contains.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.extended_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="arraysize" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The shape of the array that constitutes the value, e.g., 4, *, 4*, 5x4, or 5x*, as specified by VOTable.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.arraysize</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="delim" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The ivoa:string that is used to delimit elements of an array value when arraysize is not '1'.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.delim</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="param_use" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An indication of whether this parameter is required to be provided for the application or service to work properly (one of required, optional, ignored, or NULL).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.param_use</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="param_description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A free-text description of the parameter's contents.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:InterfaceParam.param_description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Relationship">
      <xsd:annotation>
         <xsd:documentation>Relationships between resources (like mirroring, derivation, serving a data collection)</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Relationship</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="relationship_type"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The type of the relationship; these terms are drawn from a controlled vocabulary and are DataCite-compatible.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Relationship.relationship_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="related_id" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The IVOA identifier for the resource referred to.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Relationship.related_id</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="related_name"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The name of resource that this resource is related to.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Relationship.related_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Validation">
      <xsd:annotation>
         <xsd:documentation>Validation levels for resources and capabilities</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Validation</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="validated_by"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The IVOA ID of the registry or organisation that assigned the validation level.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Validation.validated_by</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="val_level" type="xsd:int" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A numeric grade describing the quality of the resource description, when applicable, to be used to indicate the confidence an end-user can put in the resource as part of a VO application or research study.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Validation.val_level</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="cap_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>If non-NULL, the validation only refers to the capability referenced here.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Validation.cap_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ResDate">
      <xsd:annotation>
         <xsd:documentation>A date associated with an event in the life cycle of the resource</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:ResDate</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="date_value"
                      type="xsd:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A date associated with an event in the life cycle of the resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:ResDate.date_value</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="value_role" type="xsd:string" use="required">
         <xsd:annotation>
            <xsd:documentation>A ivoa:string indicating what the date refers to, e.g., created, availability, updated. This value is generally drawn from a controlled vocabulary.</xsd:documentation>
            <xsd:appinfo>
               <vodml-ref>RegTAP:ResDate.value_role</vodml-ref>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:complexType>
   <xsd:complexType name="Detail">
      <xsd:annotation>
         <xsd:documentation>XPath-value pairs for members of resource or capability and their derivations that are less used and/or
               from VOResource extensions</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:Detail</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="cap_index"
                      type="xsd:nonNegativeInteger"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The index of the parent capability; if NULL the xpath-value pair describes a member of the entire resource.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Detail.cap_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="detail_xpath"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The xpath of the data item.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Detail.detail_xpath</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="detail_value"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>(Atomic) value of the member.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:Detail.detail_value</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AltIdentifier">
      <xsd:annotation>
         <xsd:documentation>An alternate identifier associated with this record</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:AltIdentifier</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence/>
      <xsd:attribute name="alt_identifier" type="xsd:string" use="required">
         <xsd:annotation>
            <xsd:documentation>An identifier for the resource or an entity related to the resource in URI form.</xsd:documentation>
            <xsd:appinfo>
               <vodml-ref>RegTAP:AltIdentifier.alt_identifier</vodml-ref>
            </xsd:appinfo>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:complexType>
   <xsd:complexType name="STCSpatial">
      <xsd:annotation>
         <xsd:documentation>The spatial coverage of resources</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:STCSpatial</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="coverage" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A geometry representing the area a resource contains data for; this should be tight at least with a resolution of degrees.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:STCSpatial.coverage</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ref_system_name"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The reference frame coverage is written in. This is currently reserved and fixed to NULL. Clients should always add a constraint to NULL for this to avoid matching non-celestial resources later.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:STCSpatial.ref_system_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="STCTemporal">
      <xsd:annotation>
         <xsd:documentation>The temporal coverage of resources, given as one or more intervals.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:STCTemporal</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="time_start" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Lower limit of a time interval covered by the resource in MJD.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:STCTemporal.time_start</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="time_end" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Upper limit of a time interval covered by the resource in MJD.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:STCTemporal.time_end</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="STCSpectral">
      <xsd:annotation>
         <xsd:documentation>The spectral coverage of resources, given as one or more intervals.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:STCSpectral</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="spectral_start"
                      type="xsd:float"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Lower limit (in Joules) of messenger energy interval covered by the resource (for the solar system barycenter).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:STCSpectral.spectral_start</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="spectral_end"
                      type="xsd:float"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Upper limit (in Joules) of messenger energy interval covered by the resource (for the solar system barycenter).</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:STCSpectral.spectral_end</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TAPTable">
      <xsd:annotation>
         <xsd:documentation>TAP-queriable tables.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>RegTAP:TAPTable</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="svcid" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>IVOA identifier of the TAP service making this table queriable.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:TAPTable.svcid</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The fully qualified name of the table. As per VODataService, this includes all catalog or schema prefixes needed to distinguish it in a query, and it comes with SQL delimiters where necessary.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:TAPTable.table_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_title"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A descriptive, human-interpretable name for the table.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:TAPTable.table_title</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_description"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A free-text description of the table's contents.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:TAPTable.table_description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_utype"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for a concept in a data model that the data in this table as a whole represent.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>RegTAP:TAPTable.table_utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
